@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

:root {
    /* Colors */
    --primaryColor: #0295a9;
    --dark: #1d1d1d;
    --light: rgb(241, 241, 241);
    --white: #fff;
    --gray: rgb(137, 137, 137);

    /* Spacing */
    --spacing-lg: 4em;
    --spacing-md: 2.2em;
    --spacing-sm: 1.2em;
    --spacing-xs: 0.8em;

    /* Sizing */
    --large-fonts: 2em;
    --medium-fonts: 1.5em;
    --small-fonts: 1em;

    /* Borders */
    --border-lg: 30px;
    --border-md: 15px;
    --border-sm: 5px;
}

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.shadowdrop-lg {
    box-shadow: 0px 2px 15px #1d1d1d4f;
}
/* Navbar */

.nav-link {
    font-size: 12px;
    font-weight: 700;
}

.navbar-brand img {
    width: 6rem;
    height: auto;
    aspect-ratio: 16 / 9;
}
.navbarswrapper {
    padding-left: var(--spacing-md);
}

.navbarbutton {
    font-size: 12px;
    font-size: 700;
}

/* Navbar Ends */

/* Body */
.villaswrapper {
    padding: var(--spacing-md);
}
/* Body Ends */

/* Landing Page */
.landingpageConatiner {
    background: url("../assest/logosandmain/bg-landing.png") no-repeat center;
    background-size: cover;
    height: 70vh;
    position: relative;
    border-radius: var(--border-lg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingpageConatiner2 {
    background: url("../assest/logosandmain/bg-villas.png") no-repeat center;
}

.landingpageConatiner3 {
    background: url("../assest/logosandmain/bg-plots.png") no-repeat center;
}

.landingpageConatiner::before {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #1d1d1d6c;
    border-radius: var(--border-lg);
}

.ladingpageContent {
    position: relative;
    z-index: 3;
    color: var(--white);
}

.searchbar {
    background-color: var(--light);
    color: var(--gray);
    border-radius: var(--border-sm);
}
.inputbox {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    border-radius: var(--border-sm);
}

.searchbar i {
    padding-left: 10px;
    font-size: 14px;
}

.searchbar input {
    border: none;
    outline: none;
    background-color: transparent;
}

.searchbar input::placeholder {
    color: var(--gray);
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
}

.searchbar input:focus {
    background-color: transparent;
}

.ladningheadingtext {
    font-size: var(--medium-fonts);
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--spacing-sm);
}

.landingTabs {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: var(--spacing-sm);
    background-color: var(--dark);
    border-radius: var(--border-sm);
}

.tab {
    text-transform: uppercase;
    border-radius: var(--border-sm);
    padding: 5px var(--spacing-sm);
    font-size: 14px;
}

.activetab {
    background-color: var(--light);
    color: var(--primaryColor);
    font-weight: 700;
}

.landingsearchbtn {
    background-color: var(--primaryColor);
    color: var(--light);
    transition: all 5 00ms;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 8px;
    letter-spacing: 2px;
    min-width: 100px;
}

.landingsearchbtn:hover {
    background-color: var(--primaryColor);
    color: var(--light);
    opacity: 0.95;
}
.ctabtn {
    text-align: center;
    margin-top: var(--spacing-md);
}

.ctabtn .landingsearchbtn {
    min-width: 200px;
}

/* Landing Page Ends*/

.price-toggler .actives {
    background-color: var(--white);
    color: var(--primaryColor);
    border-radius: 5px;
    transition: all 0.5s ease;
    font-weight: 600;
}

.price-toggler {
    display: inline-block;
    padding: 0;
    margin-top: 20px;
    background-color: var(--dark);
    border-radius: 5px;
    margin-bottom: 20px;
}

.price-toggler span {
    padding: 10px 20px;
    color: var(--light);
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

#yearprice {
    display: none;
}

/* Featured Villas */
#featuredvillas,
#featuredplots,
#testimonial,
#featuredwhyus,
#plotssection {
    padding: var(--spacing-lg);
}

#testimonial {
    background-color: rgba(252, 194, 234, 0.15);
    padding-bottom: 10px;
}

.topicheading {
    text-align: center;
    font-size: var(--large-fonts);
    font-weight: 700;
    color: var(--primaryColor);
    margin-bottom: calc(var(--spacing-sm) * 1.5);
}

.plotvillasCover {
    background-color: #0295a9;
    width: max-content;
}

.plotsvillascontainer .topImage img {
    object-fit: cover;
    width: 150%;
    object-position: center;
}
/* cards */
.containers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.cards {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}
.card-headers img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-headers2 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-top: 10px;
}

.card-bodys {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    min-height: 200px;
    gap: 10px;
}

.cards-heading {
    display: flex;
    gap: 0.8em;
}
.cards-heading h4 {
    font-size: 16px;
    font-weight: 700;
}

.cards-heading2 {
    display: flex;
    align-self: center;
    justify-content: center;
}
.h4not {
    font-size: 18px !important;
    color: #fdd037;
    font-weight: 700 !important;
    text-align: center;
}

.card-bodys p {
    font-size: 14px;
    color: #363636;
    margin-bottom: 0px;
    font-weight: 500;
}
.cards-heading p {
    color: orangered;
    font-weight: 600;
}
.viewDetails {
    align-self: flex-end;
}

.viewDetails a {
    font-size: 14px;
    font-weight: 600;
}

/* Testimonial */

/* Test */
.swiper {
    width: 100%;
    min-height: 310px;
}

.swiper-slide {
    font-size: 18px;
    background-color: var(--white);
    border-radius: var(--border-sm);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    padding: 20px 30px;
    /* Center slide text vertically */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.starsgroup i {
    color: rgb(224, 224, 12);
    font-size: 16px;
    align-self: flex-start;
}

.opinion {
    margin-block: 20px 40px;
    font-size: 16px;
    font-weight: 700;
}

.userinfo {
    display: flex;
    gap: 10px;
    margin-top: var(--spacing-md);
    padding-bottom: var(--border-md);
}

.userinfo img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.userinfo .usename {
    font-size: 16px;
    font-weight: 600;
}
.userinfo .userdesc {
    font-size: 14px;
}
/* Testimonial Ends */

/* Footer section STARTS */

.footer ul {
    padding-left: 0;
}
.containerz {
    max-width: 1170px;
    margin: auto;
}
.rowz {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background-color: rgba(56, 181, 197, 0.15);
    padding: 70px 0;
}
.footer_logo {
    max-width: 8rem;
    margin-bottom: 35px;
    position: relative;
}
.footer_col {
    width: 25%;
    padding: 0 15px;
}
.footer_col h4 {
    font-size: 18px;
    color: var(--dark);
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}
.footer_col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--light-primary);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer_col ul li {
    list-style: none;
    color: var(--dark);
    margin-bottom: 10px;
}
.footer_col ul li:last-child {
    margin-bottom: 0px;
}
.footer_col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--dark);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer_col ul li a:hover {
    color: var(--dark);
    transform: translateY(-4px);
    font-weight: 500;
}
.footer_col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer_col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.social_icons {
    display: flex;
    gap: 20px;
    align-items: center;
}
.social_icons li {
    margin: 0px !important;
}

.footer_col .cust_padding {
    /* padding: 8px 13px; */
    font-size: 18px;
    /* font-weight: 700; */
    border-radius: 5px;
    color: var(--light-grey);
}

/* Villas Styling */
#villasprojects {
    background-color: #dafef6;
    padding-block: 2rem;
}

/* About Us */

.aboutus-conatiner {
    display: flex;
    gap: 2rem;
    margin-block: 2rem 5rem;
}

.aboutusreverse {
    flex-direction: row-reverse;
}

.teamcontainer {
    flex-direction: row-reverse;
}

.left-side {
    flex: 1;
    display: flex;
    align-items: center;
}

.aboutus-image {
    width: 100%;
}

.aboutus-image img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-sm);
    object-fit: cover;
    box-shadow: 0px 0px 25px rgb(56, 45, 112, 0.4);
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
}

.aboutus-heading {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: var(--spacing-xs);
}

.aboutus-subheading {
    font-size: 16px;
    color: #616161;
    font-weight: 500;
    margin-bottom: var(--spacing-md);
}

.villastags {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: var(--spacing-xs);
    color: var(--white);
}

.villastags .tags {
    padding: 05px 8px;
    background-color: var(--primaryColor);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: var(--border-sm);
    margin-top: var(--spacing-sm);
}

.explore {
    margin-top: var(--spacing-md);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primaryColor);
    transition: all 0.2s;
}
.explore a {
    text-decoration: none;
}

.explore a:hover {
    color: var(--primaryColor);
}
.explore:hover {
    transform: translateY(-2px);
}

.cardgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    align-items: center;
    place-content: center;
    gap: 3rem;
}

.plotcard {
    position: relative;
    margin-bottom: var(--spacing-md);
}

.cardimage {
    width: 100%;
    text-align: center;
}

.cardimage img {
    border-radius: var(--border-md);
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
.plotinfo {
    padding: 10px;
    background-color: var(--white);
    border-radius: var(--border-sm);
    position: absolute;
    bottom: -40px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.09);
}

.plotinfo .plotheading {
    font-weight: 700;
}
.plotpara {
    color: #444444;
    font-size: 12px;
    max-width: 95%;
}

.plotfeature {
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 05px;
}

.plotexplore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: var(--primaryColor);
    font-weight: 600;
    font-size: 14px;
}

.plotexplore a {
    text-decoration: none;
    color: var(--primaryColor);
    text-transform: uppercase;
}
.plotviewmore {
    text-align: center;
    margin-top: var(--spacing-lg);
}
.plotviewmore a {
    text-decoration: none;
    padding: 05px 08px;
    border: 2px solid var(--primaryColor);
    border-radius: var(--border-sm);
    color: var(--dark);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.2s;
}

.plotviewmore a:hover {
    background-color: var(--primaryColor);
    color: var(--white);
}

/* Footer responsiveness */
@media (max-width: 900px) {
    .footer_col {
        width: 50%;
        margin-bottom: 30px;
    }
    .ctabtn {
        margin-block: var(--spacing-md);
    }
    .cardgrid {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

/* Footer responsiveness */

/* Footer section ENDS */

@media (max-width: 500px) {
    .villaswrapper {
        padding: var(--spacing-md) 10px;
    }
    .inputbox {
        display: flex;
        align-items: center;
        gap: 05px;
        border-radius: var(--border-sm);
        flex-direction: column;
        padding: 10px 05px;
    }

    .inputbox input {
        font-size: 14px;
    }

    .fontsearch {
        gap: 10px;
    }

    .landingsearchbtn {
        flex: 1;
        width: 100%;
    }

    .ctabtn {
        width: 90%;
        margin: 20px auto;
    }

    .landingpageConatiner {
        height: auto;
        padding-block: var(--spacing-sm);
        padding-block-end: var(--spacing-md);
        border-radius: 2px;
    }

    .topicheading {
        font-size: 22px;
    }

    #featuredvillas,
    #featuredplots,
    #featuredwhyus,
    #testimonial,
    #plotssection {
        padding: var(--spacing-sm);
    }
    .footer_col {
        width: 100%;
    }

    .aboutus-conatiner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .aboutus-heading {
        font-size: 32px;
        font-weight: 500;
    }

    .aboutus-subheading {
        font-size: 16px;
        color: #444444;
    }
    .aboutus-image img {
        width: 100%;
        height: 100%;
    }
    .villastags .tags {
        width: 80px;
    }
    .cardgrid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* Test */
