@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

:root {
    /* Colors */
    --primaryColor: #0295a9;
    --dark: #1d1d1d;
    --light: rgb(241, 241, 241);
    --white: #fff;
    --gray: rgb(137, 137, 137);

    /* Spacing */
    --spacing-lg: 4em;
    --spacing-md: 2.2em;
    --spacing-sm: 1.2em;
    --spacing-xs: 0.8em;

    /* Sizing */
    --large-fonts: 2em;
    --medium-fonts: 1.5em;
    --small-fonts: 1em;

    /* Borders */
    --border-lg: 30px;
    --border-md: 15px;
    --border-sm: 5px;
}

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.shadowdrop-lg {
    box-shadow: 0px 2px 15px #1d1d1d4f;
}
/* Navbar */

.nav-link {
    font-size: 12px;
    font-weight: 700;
}

.navbar-brand img {
    width: 6rem;
    height: auto;
    aspect-ratio: 16 / 9;
}
.navbarswrapper {
    padding-left: var(--spacing-md);
}

.navbarbutton {
    font-size: 12px;
    font-size: 700;
}

/* Navbar Ends */

/* Body */
.villaswrapper {
    padding: var(--spacing-md);
}
/* Body Ends */

/* Landing Page */
.landingpageConatiner {
    background: url("../assest/logosandmain/bg-landing.png") no-repeat center;
    background-size: cover;
    height: 70vh;
    position: relative;
    border-radius: var(--border-lg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingpageConatiner::before {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #1d1d1d6c;
    border-radius: var(--border-lg);
}

.ladingpageContent {
    position: relative;
    z-index: 3;
    color: var(--white);
}

.searchbar {
    background-color: var(--light);
    color: var(--gray);
    border-radius: var(--border-sm);
}
.inputbox {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    border-radius: var(--border-sm);
}

.searchbar i {
    padding-left: 10px;
    font-size: 14px;
}

.searchbar input {
    border: none;
    outline: none;
    background-color: transparent;
}

.searchbar input::placeholder {
    color: var(--gray);
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
}

.searchbar input:focus {
    background-color: transparent;
}

.ladningheadingtext {
    font-size: var(--medium-fonts);
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--spacing-sm);
}

.landingTabs {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: var(--spacing-sm);
    background-color: var(--dark);
    border-radius: var(--border-sm);
}

.tab {
    text-transform: uppercase;
    border-radius: var(--border-sm);
    padding: 5px var(--spacing-sm);
    font-size: 14px;
}

.activetab {
    background-color: var(--light);
    color: var(--primaryColor);
    font-weight: 700;
}

.landingsearchbtn {
    background-color: var(--primaryColor);
    color: var(--light);
    transition: all 5 00ms;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 8px;
    letter-spacing: 2px;
    min-width: 100px;
}

.landingsearchbtn:hover {
    background-color: var(--primaryColor);
    color: var(--light);
    opacity: 0.9;
}

/* Landing Page Ends*/

.price-toggler .actives {
    background-color: var(--white);
    color: var(--primaryColor);
    border-radius: 5px;
    transition: all 0.5s ease;
    font-weight: 600;
}

.price-toggler {
    display: inline-block;
    padding: 0;
    margin-top: 20px;
    background-color: var(--dark);
    border-radius: 5px;
    margin-bottom: 20px;
}

.price-toggler span {
    padding: 10px 20px;
    color: var(--light);
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

#yearprice {
    display: none;
}

/* Featured Villas */
#featuredvillas {
    padding: var(--spacing-lg);
}
.topicheading {
    text-align: center;
    font-size: var(--large-fonts);
    font-weight: 700;
    color: var(--primaryColor);
    margin-bottom: calc(var(--spacing-sm) * 1.5);
}

.plotvillasCover {
    background-color: #0295a9;
    width: max-content;
}

.plotsvillascontainer .topImage img {
    object-fit: cover;
    width: 150%;
    object-position: center;
}
/* cards */
.containers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.cards {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}
.card-headers img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-headers2 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-top: 10px;
}

.card-bodys {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    min-height: 200px;
    gap: 10px;
}

.cards-heading {
    display: flex;
    gap: 0.8em;
}
.cards-heading h4 {
    font-size: 16px;
    font-weight: 700;
}

.cards-heading2 {
    display: flex;
    align-self: center;
    justify-content: center;
}
.h4not {
    font-size: 18px !important;
    color: #fdd037;
    font-weight: 700 !important;
    text-align: center;
}

.card-bodys p {
    font-size: 14px;
    color: #363636;
    margin-bottom: 0px;
    font-weight: 500;
}
.cards-heading p {
    color: orangered;
    font-weight: 600;
}
.viewDetails {
    align-self: flex-end;
}

.viewDetails a {
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 500px) {
    .villaswrapper {
        padding: var(--spacing-md) 10px;
    }
    .inputbox {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        border-radius: var(--border-sm);
        flex-direction: column;
    }

    .landingsearchbtn {
        flex: 1;
        width: 100%;
    }

    .landingpageConatiner {
        height: auto;
        padding-block: var(--spacing-sm);
        padding-block-end: var(--spacing-md);
        border-radius: 2px;
    }

    .topicheading {
        font-size: 22px;
    }

    #featuredvillas {
        padding: var(--spacing-sm);
    }
}
